
    .logo{
        height: 50px;
    }
    
    header h1{
        font-family: 'Caveat', cursive;
    }
    header p{
        font-family: 'Caveat', cursive;
    }
    header a{
        font-family: 'Caveat', cursive;
    }
    .getstarted{
        font-family: 'Caveat', cursive;
    }
    #vibevideo{
        padding-left: 0px;
        padding-right: 0px;
    }

    #itsavibe{
        font-family: 'Permanent Marker', cursive;
        color: white;
        

    }
    #features{
        background-image: linear-gradient(to bottom, #000000, #331522, #611f43, #8f2a6d, #bc379f, #c939b6, #d33dd0, #db43eb, #c939e8, #b62fe5, #a126e3, #8b1ee0);
        font-family: 'Caveat', cursive;
    }
    .only-camera{
        background: black;
           
    }
    .only-camera h2{
        font-family: 'Caveat', cursive;
    }
    .only-camera p{
        font-family: 'Caveat', cursive;
        
    }
    
    #flash-gray{
        height: 100px;
        padding-bottom: 15px;
    }
    #palette{
        height: 100px;
        padding-bottom: 15px;
    }
    #battery{
        height: 100px;
        padding-bottom: 15px;
    }
    #diamond{
        height: 100px;
        padding-bottom: 15px;
        
    } 
    #pricing{
        background-image: linear-gradient(to bottom, #8b1ee0, #9b58ed, #ad82f6, #c2a9fc, #daceff, #e6deff, #f2efff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
        font-family: 'Caveat', cursive;
    }
        
    .parentfamily{
        position: relative;
    }
    .childinput{
        position: absolute;
        bottom: 50px;
        left: 525px;
        
    }
    .bethevibe{
        position: absolute;
        font-size: 130px;
    }
    #joinus{
        font-family: 'Permanent Marker', cursive;
    }
    